{{ define "main" }}





<section class="bg-dark-green-darker"><div class="px-8 py-16 mx-auto prose prose-brand"><h1 id="exco">Executive Committee</h1></div>

  <div class="px-8 py-8 mx-auto prose prose-brand"><h2 class="!text-white">AY2021–2022</h2></div>
  <div class="flex flex-wrap justify-center max-w-3xl mx-auto space-x-4"><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">President</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Vice President</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Honorary General Secretary</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Honorary Finance Secretary</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Technology and Infrastructure Director</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Professional Development Director</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt=" " class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Marketing Director</p>
      </div><div class="flex flex-col items-center mb-8 space-y-2 w-44"><img src="/photos/scnfvicon.jpg" alt="" class="w-40 h-40 border-8 rounded-full border-dark-gray-lighter object-cover">
        <h3 class="text-lg text-center">hmm</h3>
        <p class="italic text-center text-yellow">Training Director</p>
      </div>
    
  
    
  </div></section>


  
  {{- partial "social.html" . -}}
{{ end }}
